<form class="input-group">
    <label for="value">Enter a value:</label>
    <input type='string' [(ngModel)]='inputRange' (ngModelChange)="onChange($event)" id="value" name="value" />
</form>
<form class="button-form">
    <button class='btn btn-primary' (click)='findPrimeNumbers()'> Enter
    </button>
</form>
<form class="output-group" *ngIf="displaySolution">
    <label for="output">Prime numbers in given range are:</label>
    <label type='number' *ngFor="let o of primeArray" id="output" name="output">{{o}}</label>
</form>
<form class="output-group" *ngIf="displayError">
    <label for="output">Input integers in this format: "integer1-integer2"!</label>
</form>

