.container {
  display: flex;
  flex-basis: column;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  cursor: pointer;
}

.example-button-row {
  display: flex;
  align-items: left;
}

.mat-button {
  text-align: left;
  display: block;
}

.mat-icon {
  color: white;
}

.mat-expansion-panel-header {
  color: white;
}

.minus-button {
  padding: 0 6px 0 6px;
  margin: 1px 8px 0px 8px;
  border-radius: 0px;
  min-width: 35px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  vertical-align: right;
  float: right;
  margin-left: 50px;
  margin-right: 1px;
}

.plus-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  border-radius: 0px;
  min-width: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  float: right;
  margin-right: -100px;
  margin-left: 37px;
}

.mat-expansion-panel-header {
  margin-left: 10px;
}