<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <!-- <a mat-button style="text-align: center">
        <mat-icon (click)="loadHome()">
          Algoritms
        </mat-icon>
      </a> -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Algorithms
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let alg of algs">
          <a mat-button (click)="getAlgs(alg.data.id)">{{alg.data.title}}</a>
        </mat-nav-list>
        <div (contextmenu)="onRightClick($event)" style="padding-bottom: 20px;">
        </div>

        <!-- an hidden div is created to set the position of appearance of the menu-->
        <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
          [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="menu"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog()">
            <span>Add</span>
          </button>
          <button mat-menu-item (click)="removeDialog()">
            <span>Remove</span>
          </button>
        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <ng-template algHost></ng-template>
</mat-sidenav-container>