<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <mat-expansion-panel hideToggle [expanded]="true"  [disabled]="true">
        <mat-expansion-panel-header>
          <mat-panel-title (click)="loadHome()" (click)="selectedIndex = -1">
            Algorithms
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon (click)="openDialog()">add</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list *ngFor="let alg of algs">
          <a mat-raised-button (click)="getAlgs(alg.data.id)" (click)="selectedIndex = alg.data.id" [color]="selectedIndex === alg.data.id ? 'primary' : 'warm'">{{alg.data.title}} <mat-icon (click)="removeDialog(alg.data.title)">remove</mat-icon></a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <ng-template algHost></ng-template>
</mat-sidenav-container>