<mat-tab-group>
    <mat-tab label="Opis">
        <div class="text-center">Ovaj algoritam uvek vrši ispis većeg broja u prvu vrednost.</div>
    </mat-tab>
    <mat-tab label="Rešenje">
        <form class="input-group">
            <label for="valueone">Vrednost A:</label>
            <input type='number' [(ngModel)]='valueA' id="valueone" name="valueone" />
            <label for="valuetwo">Vrednost B:</label>
            <input type='number' [(ngModel)]='valueB' id="valuetwo" name="valuetwo" />
        </form>
        <form class="button-form">
            <button class='btn btn-primary' (click)='outputA()'> Pokreni
            </button>
        </form>
    </mat-tab>
    <mat-tab label="Fajl">
        <textarea>
        {{_filetext}}
        </textarea>
    </mat-tab>
</mat-tab-group>