<form class="input-group">
    <label for="value">Enter the depth:</label>
    <input type='number' [(ngModel)]='depth' (ngModelChange)="onChange($event)" id="value" name="value" />
</form>
<form class="button-form">
    <button class='btn btn-primary' (click)='sierpinskiTriangle(depth)'> Enter
    </button>
</form>
<form class="output-group" *ngIf="displayError">
    <label for="output">You must enter a number within the range of 1-10</label>
</form>
<form class="output-group">
    <canvas #canvas></canvas>
</form>
