<form class="input-group">
    <label for="value">Enter numbers:</label>
    <input type='string' [(ngModel)]='inputArray' id="value" name="value" />
</form>
<form class="button-form">
    <button class='btn btn-primary' (click)='createBarChart()'> Create
    </button>
</form>
<form class="chart-form">
<canvas baseChart 
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [width]="600"
        [height]="400"
        [type]="'bar'">
</canvas>
</form>