<form class="input-group">
    <label for="value">Enter numbers:</label>
    <input type='string' [(ngModel)]='inputArray' id="value" name="value" />
</form>
<form class="button-form">
    <button class='btn btn-primary' (click)='createBarChart()'> Create
    </button>
    <button class='btn btn-primary' (click)="randomBarChart()"> Random
    </button>
</form>
<div class="chart">
<table class="table">
    <tr>
        <td valign="bottom" *ngFor="let n of numbersArray">
            <div class='bar' [ngStyle]="{'height' : n + 'px'}"></div>
        </td>
    </tr>
</table>
</div>